* {
  box-sizing: border-box;
}

body {
  background-color: rgb(138, 115, 56);
  color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

input {
  border-color: transparent;
  border-radius: 10px;
  height: 3rem;
  width: 20rem;
  margin-top: 2rem;
  padding-left: 1rem;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
  border: 2px solid rgb(163, 59, 14);
}

.userDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 13rem;
  background-color: rgb(82, 24, 24);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 1rem;
}
